services:
  db:
    image: postgres:16
    container_name: 309_postgres
    environment:
      POSTGRES_DB: 309_back
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: 309_back_app
    depends_on:
      - db
    ports:
      - "8080:8080"

volumes:
  postgres_data:
